{% load static %}
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        /*margin: 20px 0;*/
    }
    .table th, .table td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }
    /* .table th {
        background-color: #f2f2f2;
    }
    */
    .table-striped tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    .table-bordered {
        border: 1px solid #ddd;
    }
    .table-bordered td, .table-bordered th {
        border: 1px solid #ddd;
    }
</style>

<section class="mb-4">
    <header class="mb-4">
        {% include "main/components/pageHeader.html" with title="CBT Category Analysis:" current_session=cbt_category.description text_color="green-700" %}
        <p class="text-xs italic font-semibold text-center capitalize">An overall analysis summary and vizualation for student perfomance summary, subject and topics analysis.</p>
        <form method="get" action="" class="flex flex-col items-center self-start mx-auto mt-6 sm:gap-4 md:flex-row md:gap-0 sm:w-full md:w-1/3">
            <div class="relative flex flex-col w-full gap-4 md:gap-1 md:flex-row">
                {{ form.school_branch }}
            </div>
            <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-green-700 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
            <a href="{% url 'techsupport:viewCBTAnalysis' cbtCategoryId=cbt_category.id %}" class="text-xs italic font-semibold text-center underline cursor-pointer underline-offset-2">View All</a>
        </form>
    </header>
    <h2 class="text-sm font-bold text-center capitalize md:text-base">Student Performance Summary (Sorted by Total Score)</h2>
    <div>
        {% include "main/components/tableRowCount.html" with count=students_data|length instances="CBT Result" %}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg table-bordered table-striped table-height">
            <table class="table w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
                <thead class="text-xs uppercase bg-green-600 text-boneWhite dark:bg-boneWhite dark:text-gray-5000">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            S/N
                        </th>
                        <th scope="col" class="p-4">
                            Students
                        </th>
                        <th scope="col" class="p-4">
                            Cluster
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total Score (%)
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Correct Questions (Total)
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Incorrect Questions (Total)
                        </th>
                        {% for exam in students_data.0.exam_scores %}
                            <th colspan="2" scope="col" class="px-6 py-3">
                                {{ exam.exam.subject.name }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-3"></th>
                        <th scope="col" class="px-6 py-3"></th>
                        <th scope="col" class="px-6 py-3"></th>
                        <th scope="col" class="px-6 py-3"></th>
                        <th scope="col" class="px-6 py-3"></th>
                        <th scope="col" class="px-6 py-3"></th>
                        {% for exam in students_data.0.exam_scores %}
                            <th scope="col" class="px-6 py-3">Score (%)</th>
                            <th scope="col" class="px-6 py-3">Correct/Incorrect</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student_data in students_data %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="px-6 py-4">
                            {{ forloop.counter }}
                        </td>
                        <td class="px-6 py-4">
                            {{ student_data.student.user.getFullName }}
                        </td>
                        <td class="px-6 py-4">
                            {{ student_data.student.school_branch.name }}
                        </td>
                        <td class="px-6 py-4">
                            {{ student_data.total_score|floatformat:2 }}%
                        </td>
                        <td class="px-6 py-4">
                            <span class="font-bold text-green-600">{{ student_data.correct_answers }}</span>
                        </td>
                        <td class="px-6 py-4">
                            <span class="font-bold text-red-600">{{ student_data.incorrect_answers }}</span>
                        </td>

                        {% for exam_score in student_data.exam_scores %}
                            <td class="px-6 py-4">
                                <span class="font-bold text-blackText">{{ exam_score.score_percentage|floatformat:2 }}%</span>
                            </td>
                            <td class="px-6 py-4">
                                <span class="font-bold text-green-600">{{ exam_score.correct_answers }}</span>/<span class="font-bold text-red-600">{{ exam_score.incorrect_answers }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>