{% load static %}
<header class="flex flex-col items-center space-x-2 justify-evenly md:flex-row">
    <div class="">
        <img src="{% static 'images/logo/LimCapLogo2.png' %}" alt="logo" class="w-16">
    </div>
    <div class="text-center">
        <!-- <h1 class="text-2xl font-extrabold uppercase text-myBlue">The potter's house Montessori school</h1> -->
        <h1 class="text-2xl font-extrabold uppercase text-myBlue">Ngwo Yellow Page EduTech</h1>
        <h2 class="text-lg font-bold text-red-600 uppercase">Location, hill-top ngwo</h2>
        <h3 class="text-sm font-bold">Phone +234 08141795110, +234 08141795110 Email:obumnanemennadi095@gmail.com</h3>
    </div>
</header>
<div class="self-center my-4 text-lg font-bold text-center underline uppercase">{{ title }}</div>