{% load static %}
<style>
    #grah-divp {
        max-width: 1000px;
        max-height: 500px;
        width: 80%; /* Adjust width percentage */
        height: 300px; /* Fixed height */
        margin: auto;
    }
</style>

<section class="flex flex-row gap-4">
    {% if exam_labels_json and exam_scores_json %}
    <div id="grah-div" class="w-full">
        <canvas id="examScore"></canvas>
    </div>
    {% endif %}
</section>

<script>
    // Get the data from Django context (passed via the view)
    var examLabels = JSON.parse('{{ exam_labels_json|escapejs }}');
    var examScores = JSON.parse('{{ exam_scores_json|escapejs }}');
    console.log(examLabels)
    console.log(examScores)
    
    const ctx4 = document.getElementById('examScore');
    new Chart(ctx4, {
        type: 'line',
        data: {
            labels: examLabels,
            datasets: [{
                label: 'Examination Scores',
                data: examScores,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderWidth: 1
            }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: false,
                        title: {
                            display: true,
                            text: "Exam Score"
                        },
                        ticks: {
                            stepSize: 1  // Set interval steps of 1
                        }
                    },
                    x: {
                        beginAtZero: false,
                        title: {
                            display: true,
                            text: "Exam Scores"
                        },
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                    }
                },
            }
        }
    );
</script>