{% extends "main/pages/base.html" %}
{% load static %}
{% block title %} Password Reset  {% endblock title %}

{% block content %}
<section class="flex flex-col items-center justify-around gap-8 py-10">
    <div class="flex flex-col items-center justify-around gap-8 px-6 py-4 mt-8">
        <h1 class="text-3xl font-extrabold">Password Reset</h1>
        <p class="text-lg text-center">Forgotten your password? Enter your email address below and we’ll email instructions for setting a new one. </p>
        <form method="post" class="flex flex-col items-center justify-around w-1/2 gap-4">
            {% csrf_token %}
            <div class="flex flex-col items-start self-center justify-start w-full text-lg">
                {{ form.email.errors }}
                <label for="id_email" class="font-semibold">Email address: </label>
                <div class="w-full">
                    {{ form.email }}
                </div>
            </div>
            <input type="Submit" name="Send email" value="Reset my password" class="self-start px-4 py-2 rounded-lg cursor-pointer bg-myBlue text-gray-50 hover:bg-opacity-80"/>
        </form>
    </div>
</section>
{% endblock content %}