{% extends "./baseGT.html" %}
{% block title %} Teacher Attendance {% endblock title %}

{% block main %}
<section class="w-full h-screen mx-auto md:px-4">
    {% include "main/components/pageHeader.html" with title="Teacher Attendance" text_align="center" %}
    <main>
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="mark-attendance-styled-tab" data-tabs-target="#styled-mark-attendance" type="button" role="tab" aria-controls="mark-attendance" aria-selected="false">Mark Attendance</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="preview-attendance-styled-tab" data-tabs-target="#styled-preview-attendance" type="button" role="tab" aria-controls="preview-attendance" aria-selected="false">Preview Marked Attendance</button>
                </li>
                <li role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="statistics-info-styled-tab" data-tabs-target="#styled-statistics-info" type="button" role="tab" aria-controls="statistics-info" aria-selected="false">Statistics</button>
                </li>
            </ul>
        </div>
        <div id="default-styled-tab-content">
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-mark-attendance" role="tabpanel" aria-labelledby="mark-attendance-tab">
                {% include "guest/components/teacherAttendanceTable.html" %}
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-preview-attendance" role="tabpanel" aria-labelledby="preview-attendance-tab">
                {% include "techsupport/components/previewRecentTeacherAttendance.html" %}
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-statistics-info" role="tabpanel" aria-labelledby="statistics-info-tab">
                {% include "techsupport/components/teacherAttendanceAnalysis.html" %}
            </div>
        </div>
    </main>
</section>
{% endblock main %}