{% extends "./baseGT.html" %}
{% block title %} View Parent {% endblock title %}

{% block main %}
{% if parents %}
<section class="p-2 bg-gray-200 md:p-4">
    <header class="space-y-4">
        {% include "main/components/pageHeader.html" with title="All Parents" text_align="center" %}
        <section class="flex flex-col flex-wrap items-end justify-between pb-4 space-y-4 md:flex-row sm:space-y-0">
            <div class="flex flex-col gap-4 md:flex-row">
                <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">Filter Results <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdownDelay" class="z-10 hidden bg-green-700 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-green-700">
                    <ul class="py-2 text-sm text-boneWhite dark:text-boneWhite" aria-labelledby="dropdownDelayButton">
                        <li>
                            <a hx-get="{% url 'guest:viewParents' %}?filter=50#" hx-target="#parent-table-section" hx-swap="innerHTML" hx-indicator="#loading" class="block px-4 py-2 cursor-pointer hover:bg-green-500 dark:hover:bg-green-600 dark:hover:text-white">50 Results</a>
                        </li>
                        <li>
                            <a hx-get="{% url 'guest:viewParents' %}?filter=100#" hx-target="#parent-table-section" hx-swap="innerHTML" hx-indicator="#loading" class="block px-4 py-2 cursor-pointer hover:bg-green-500 dark:hover:bg-green-600 dark:hover:text-white">100 Results</a>
                        </li>
                        <li>
                            <a hx-get="{% url 'guest:viewParents' %}?filter=500#" hx-target="#parent-table-section" hx-swap="innerHTML" hx-indicator="#loading" class="block px-4 py-2 cursor-pointer hover:bg-green-500 dark:hover:bg-green-600 dark:hover:text-white">500 Results</a>
                        </li>
                        <li>
                            <a hx-get="{% url 'guest:viewParents' %}?filter=1000#" hx-target="#parent-table-section" hx-swap="innerHTML" class="block px-4 py-2 cursor-pointer hover:bg-green-500 dark:hover:bg-green-600 dark:hover:text-white">1000 Results</a>
                        </li>
                        <!-- <hr>
                        <li>
                            <a href="{% url 'guest:viewParents' %}?filter=all#"  class="block px-4 py-2 cursor-pointer hover:bg-green-500 dark:hover:bg-green-600 dark:hover:text-white">All Results</a>
                        </li>
                        <li>
                            <a href="{% url 'guest:viewParents' %}?filter=suspended#" class="block px-4 py-2 cursor-pointer hover:bg-green-500 dark:hover:bg-green-600 dark:hover:text-white">Suspended</a>
                        </li> -->
                    </ul>
                </div>
                
            </div>
            <div class="w-full md:w-1/2">
                <span class="helptext">Type 'suspended' to get the list of suspended Parents</span>
                <form hx-get="{% url 'guest:viewParents' %}" hx-target="#parent-table-section" hx-swap="innerHTML" hx-indicator="#loading" class="relative flex flex-row items-center w-full gap-1">
                    <div class="relative flex flex-col w-full gap-1 md:flex-row">
                        <input type="text" id="student" name="q" list="student-list" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search email | username | first-name | last-name" required />
                        <datalist id="student-list">
                            {% for parent in parents %}
                            <option value="{{ parent.user.username }}">{{ parent.user.username }}</option>
                            {% endfor %}
                            {% for parent in parents %}
                            <option value="{{ parent.user.email }}">{{ parent.user.email }}</option>
                            {% endfor %}
                            {% for parent in parents %}
                            <option value="{{ parent.phone_number }}">{{ parent.phone_number }}</option>
                            {% endfor %}
                            {% for parent in parents %}
                            <option value="{{ parent.user.first_name }}">{{ parent.user.first_name }}</option>
                            {% endfor %}
                            {% for parent in parents %}
                            <option value="{{ parent.user.last_name }}">{{ parent.user.last_name }}</option>
                            {% endfor %}
                            <option value="Suspended">Suspended</option>
                        </datalist>
                    </div>
                    <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-green-700 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 sm:w-1/4">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                    <a href="{% url 'guest:viewParents' %}" class="text-xs italic font-semibold text-center underline cursor-pointer underline-offset-2">Reset</a>
                </form>

            </div>
        </section>
    </header>
    <section id="parent-table-section">
            {% include "guest/components/viewParentsTable.html" %}
    </section>
</section>
{% else %}
{% include "main/components/resultNotFound.html" with message="No parents yet. Register student to view them here." %}
{% endif %}

{% endblock main %}