{% extends "./baseTS.html" %}
{% block title %} Edit Examination {% endblock title %}

{% block main %}
<section id="edit-exam-form" class="py-4 mb-4 space-y-4 bg-gray-100">
    <header>
        {% include "main/components/pageHeader.html" with title="Edit Examination" current_session=exam.getExamName text_align="center" %}
    </header>
    <form method="post" class="items-center form-col-layout">
        {% csrf_token %}
        <section class="flex flex-col items-center justify-start w-full gap-4 p-4 rounded-lg md:w-4/5 bg-gray-50">
            <section class="flex flex-col w-full gap-2 md:flex-row">
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="session" class="font-bold">{{ form.session.label }} <span class="text-red-600">*</span></label>
                    <span class="helptext">{{ form.session.help_text }}</span>
                    <span class="errorlist">{{ form.session.errors }}</span>
                    {{ form.session }}
                </div>
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="subject" class="font-bold">{{ form.subject.label }} <span class="text-red-600">*</span></label>
                    <span class="helptext">{{ form.subject.help_text }}</span>
                    <span class="errorlist">{{ form.subject.errors }}</span>
                    {{ form.subject }}
                </div>
            </section>
            <section class="flex flex-col w-full gap-2 md:flex-row">
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="total-mark" class="font-bold">{{ form.year.label }} <span class="text-red-600">*</span></label>
                    <span class="helptext">{{ form.year.help_text }}</span>
                    <span class="errorlist">{{ form.year.errors }}</span>
                    {{ form.year }}
                </div>
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="total-mark" class="font-bold">{{ form.total_marks.label }} <span class="text-red-600">*</span></label>
                    <span class="helptext">{{ form.total_marks.help_text }}</span>
                    <span class="errorlist">{{ form.total_marks.errors }}</span>
                    {{ form.total_marks }}
                </div>
            </section>
            <section class="flex flex-col w-full gap-2 md:flex-row">
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="duration" class="font-bold">{{ form.duration.label }} <span class="text-red-600">*
                        <span class="text-gray-500 helptext"> {{ form.duration.help_text }}</span>
                    </span></label>
                    <span class="errorlist">{{ form.duration.errors }}</span>
                    {{ form.duration }}
                </div>
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="instruction" class="font-bold">{{ form.instruction.label }} <span class="text-red-600">*</span></label>
                    <span class="helptext">{{ form.instruction.help_text }}</span>
                    <span class="errorlist">{{ form.instruction.errors }}</span>
                    {{ form.instruction }}
                    <datalist id="instruction-list">
                        <option value="Answer All Questions"></option>
                        <option value="Attempt All Questions"></option>
                        <option value=""></option>
                    </datalist>
                </div>
            </section>
            <section class="flex flex-col w-full gap-2 md:flex-row">
                <div class="flex flex-col justify-around w-full form-col-child">
                    <label for="" class="font-bold">{{ form.published.label }} <span class="text-red-600">
                        <span class="text-gray-500 helptext"> {{ form.published.help_text }}</span>
                    </span></label>
                    <span class="errorlist">{{ form.published.errors }}</span>
                    {{ form.published }}
                </div>
            </section>
        </section>
        <div class="w-1/2 mb-4 md:w-1/3">
            {% include "main/components/saveButton.html" with title="Update Exam" %}
        </div>
    </form>
</section>
{% endblock main %}