{% extends "./baseMG.html" %}
{% block title %} Register Student {% endblock title %}


{% block main %}
<section>
    <header>
        {% include "main/components/pageHeader.html" with title="Student Registration" text_align="center" text_color="green-700" %}
        <p class="mb-4 text-sm italic font-semibold text-center text-myBlue">Fill in the form below to complete the Parent and Student registration.</p>
    </header>
    <section class="flex flex-col justify-around gap-4 md:flex-row">
        <form action="" method="post" enctype="multipart/form-data" class="flex flex-col justify-around w-full gap-6 p-4 py-4 mx-auto bg-gray-200 shadow-xl md:w-4/5 shadow-black form-style">
            {% csrf_token %}
            <section class="flex flex-col gap-2 md:flex-row">
                <div class="flex flex-col justify-around w-full">
                    <label for="" class="font-bold">Parent</label>
                    {{ parent_profile.user.getFullName }}
                </div>
            </section>
            <hr>
            {% include "techsupport/components/createUserForm.html" %}
            <hr>
            {% include "techsupport/components/studentProfileForm.html" %}
            <div class="self-start w-1/2">
                {% include "main/components/saveButton.html" with title="Submit" %}
            </div>
        </form>
    </section>
</section>

{% endblock main %}