{% load static %}

<nav class="bg-blackBg dark:bg-blackBg">
    <div id="explore-mega-menu-full-dropdown" class="hidden mt-1 shadow-sm bg-green-900 md:bg-green-900 dark:bg-green-900 border-b-2 border-blue-800">
        <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-50 dark:text-50 sm:grid-cols-2 md:px-6">
                <h2 class="col-span-2 text-base text-center md:text-left md:text-xl my-4">Explore and discover more on your interests. <a href="{% url 'blog:home' %}" class="text-boneWhite font-semibold italic underline underline-offset-2 animate-bounce">Get Started</a></h2>
            <ul>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-900 dark:hover:bg-gray-900 transition-colors ease-in duration-500">
                        <div class="font-semibold">Basic Science</div>
                        <span class="text-sm text-gray-500 dark:text-gray-400">Dive into the foundations and basic principles of science.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-900 dark:hover:bg-gray-900 transition-colors ease-in duration-500">
                        <div class="font-semibold">Technology</div>
                        <span class="text-sm text-gray-500 dark:text-gray-400">Move into the space of new Technology and trends of the century.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-900 dark:hover:bg-gray-900 transition-colors ease-in duration-500">
                        <div class="font-semibold">History and Culture</div>
                        <span class="text-sm text-gray-500 dark:text-gray-400">The beginning of civilization and gorvenment.</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-900 dark:hover:bg-gray-900 transition-colors ease-in duration-500">
                        <div class="font-semibold">Geography</div>
                        <span class="text-sm text-gray-500 dark:text-gray-400">World geography and The Universe.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-900 dark:hover:bg-gray-900 transition-colors ease-in duration-500">
                        <div class="font-semibold">Wisdom and Life</div>
                        <span class="text-sm text-gray-500 dark:text-gray-400">Life guiding priciples.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-900 dark:hover:bg-gray-900 transition-colors ease-in duration-500">
                        <div class="font-semibold">Carreer</div>
                        <span class="text-sm text-gray-500 dark:text-gray-400">Delve into the carreer opporutniy avalable for you.</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
