{% load static %}

<div class="flex flex-col items-start justify-around w-full md:w-4/5 my-4">
    <h1 class="self-center font-sans text-xl font-extrabold text-center uppercase text-gray-50">Requirements and Fees Breakdown</h1>
    <div class="relative w-full my-10 overflow-x-auto shadow-lg shadow-black cards fade-in-scale">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-sm uppercase bg-gray-900 md:text-base text-gray-50 dark:bg-gray-900 dark:text-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 uppercase">
                        Fees
                    </th>
                    <th scope="col" class="px-6 py-3 uppercase">
                        Pre School
                    </th>
                    <th scope="col" class="px-6 py-3 uppercase">
                        Grade
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Registration Form
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        500
                    </td>
                    <td class="px-6 py-4 font-semibold">
                        500
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Tuition
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        60,500
                    </td>
                    <td class="px-6 py-4 font-semibold">
                        60,500
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Book Pack
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        30,000
                    </td>
                    <td class="px-6 py-4 font-semibold">
                        40,000
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        School Wears
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        29,000
                    </td>
                    <td class="px-6 py-4 font-semibold">
                        29,000
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Development
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        5,000
                    </td>
                    <td class="px-6 py-4 font-semibold">
                        5,000
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="font-bold bg-black2 text-gray-50 dark:text-gray-50 dark:bg-black2">
                    <th scope="row" class="px-6 py-3 text-base">Total</th>
                    <td class="px-6 py-3">129,500</td>
                    <td class="px-6 py-3">139,500</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="relative w-full my-10 overflow-x-auto shadow-lg shadow-black cards fade-in-scale">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-sm uppercase bg-gray-900 md:text-base text-gray-50 dark:bg-gray-900 dark:text-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 uppercase">
                        Other Fees
                    </th>
                    <th scope="col" class="px-6 py-3 uppercase">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Lesson (Optional)
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        5,000
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Taekwindo-outfit
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Ballerina
                    </th>
                    <td class="px-6 py-4 font-semibold">
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="relative w-full my-10 overflow-x-auto shadow-lg shadow-black cards fade-in-scale">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-sm uppercase bg-gray-900 md:text-base text-gray-50 dark:bg-gray-900 dark:text-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 uppercase">
                        Creche
                    </th>
                    <th scope="col" class="px-6 py-3 uppercase">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Registration
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        35,000
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900 uppercase whitespace-nowrap dark:text-white">
                        Termly
                    </th>
                    <td class="px-6 py-4 font-semibold">
                        30,000
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>