{% extends "./baseTC.html" %}
{% block title %} Support Dashboard {% endblock title %}


{% block main %}
<section class="px-2 mt-2 mb-4 space-y-4">
    {% include "techsupport/components/dashboardInsight.html" %}
    <section class="container flex flex-col gap-4 mx-auto">
        {% include "main/components/pageHeader.html" with title="School Branch Analysis" text_align="center" text_color="myGreen" %}
        <div class="flex flex-row">
            {% include "main/charts/schoolBranchStudentTeacherChart.html" %}
        </div>
        <div class="flex flex-col gap-4 md:flex-row">
            {% include "techsupport/components/schoolBranchTeacherTable.html" %}
            {% include "techsupport/components/schoolBranchStudentTable.html" %}
        </div>
    </section>
    <!-- <section class="flex flex-col gap-4 md:flex-row">
        <div class="w-full">
        </div>
    </section> -->

</section>
{% endblock main %}