{% extends "./baseTC.html" %}
{% block title %} View Class {% endblock title %}


{% block main %}
<section class="flex flex-col w-full px-2 pt-8 pb-8 bg-gray-200 rounded-lg md:px-2">
    <!-- {% include "main/components/pageHeader.html" with title="Your Class" %} -->
    <div class="relative h-full md:flex">
        <ul class="mb-4 space-y-4 text-xs font-medium text-gray-500 flex-column space-y dark:text-gray-400 md:me-4 md:mb-0">
            {% for class in teacher_class %}
            <li>
                <a hx-get="{% url 'teacher:loadClassStudents' classId=class.id %}" hx-target="#teacher-preview-class-section" hx-swap="outerHTML" hx-indicator="#loading" class="inline-flex items-center w-full px-4 py-3 text-white bg-green-700 rounded-lg cursor-pointer active dark:bg-green-600" aria-current="page">
                    {{ class.getClassName }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% include "main/components/spinner.html" %}
        {% include "teacher/components/previewClassStudents.html" %}
    </div>
</section>
{% endblock main %}